/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Change cursor to pointer when hovering over paragraphs, links, spans, and divs */
p:hover, a:hover, span:hover, div:hover {
    cursor: text;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Poppins', Arial, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828;
}

.navbar {
    background: #1E1E1E;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Align logo to the left and links to the right */
    align-items: center; /* Center items vertically */
}

.navbar .logo img {
    height: 40px; /* Adjust size as needed */
    padding: 0px 10px;
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-links a {
    display: block;
    color: #F0F0F0; /* Light grey shade */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 12px;
}

.navbar .nav-links a.active {
    background-color: #e3663d; /* Highlight color */
    color: #FFFFFF; /* Text color for active link */
}

.navbar .nav-links a:hover {
    background-color: #e3663d;
    color: #FFFFFF;
}

.banner {
    background: #e3663d;
    padding: 50px;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    flex-wrap: wrap;
    margin-top: 20px;
}
.banner img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 95%;
    min-width: 200px;    /* Ensure a minimum width on small screens */
}

.banner h1 {
    font-size: 36px;
    margin: 20px 0;
}
.banner p {
    font-size: 18px;
    line-height: 1.6;
}
.banner a {
    color: #ffeb3b;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 100%;    /* Default width */
    /* max-width: 1200px; Optional max width to prevent it from becoming too wide */
    margin: 0 auto;
    padding: 0 10px;
}

.resume-container {
    width: 80%;    /* Default width */
    /* max-width: 1200px; Optional max width to prevent it from becoming too wide */
    margin: 0 auto;
    padding: 0 10px;
}


.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.text-content {
    max-width: 90%;
    min-height: 1200px;
}

.text-content h1 {
    font-size: 36px;
    color: #F09872; /* Pure white */
}

.text-content p {
    color: #F0F0F0; /* Light grey shade */
    line-height: 1.6;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
    .container {
        width: 100%; /* Slightly wider on small screens */
    }
}

@media (min-width: 900px) {
    .container {
        width: 75%; /* Wider on medium screens */
    }
}

@media (min-width: 1200px) {
    .container {
        width: 65%; /* Widest on large screens */
    }
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.feature {
    text-align: center;
    max-width: 30%;
}

.feature img {
    width: 50px;
    height: 50px;
}

.feature h3 {
    font-size: 18px;
    color: #F09872; /* Darker grey shade */
    margin-top: 10px;
}

.feature p {
    color: #E0E0E0; /* Darker grey shade */
    line-height: 1.6;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    font-size: 10px; /* Make font size smaller */
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
}

.footer-left nav a, .footer-right a {
    text-decoration: none;
    color: #555;
    padding: 5px 0;
}

.footer-left nav a.active, .footer-right a.active {
    color: #000000; /* Darker color to indicate active state */
    font-weight: bold; /* Optional: make the text bold */
}

.footer-left nav a:hover, .footer-right a:hover {
    color: #000;
}

.footer-left nav a {
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Align items vertically */
}

.footer-right a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-right a::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-size: cover;
}

.footer-right a[href*="github"]::before {
    background-image: url('./Images/github.png'); /* Replace with actual GitHub icon path */
}

.footer-right a[href*="instagram"]::before {
    background-image: url('./Images/instagram.png'); /* Replace with actual Instagram icon path */
}

.footer-right a[href*="linkedin"]::before {
    background-image: url('./Images/linkedin.png'); /* Replace with actual LinkedIn icon path */
}

.gradient-text {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Ensure compatibility */
    color: transparent;
    display: inline-block; /* Ensure proper rendering on mobile */
    text-align: center; /* Center text for better appearance */
    white-space: nowrap; /* Prevent text wrapping */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .gradient-text {
        font-size: 1.5em; /* Adjust font size for mobile */
    }
}

.title-container {
    width: 100%;    /* Default width */
    max-width: 1200px; /* Optional max width to prevent it from becoming too wide */
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: center; 
    align-items: center; /* Centers the content vertically */
    margin-top: 50px;
}

.resume-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fff; /* White background for readability */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    color: #333; /* Dark text for contrast */
    padding: 50px 50px;
    margin-right: 0;
}


.resume-content h1, 
.resume-content h2, 
.resume-content h3 {
    color: #301b1d; /* Accent color for headers */
    margin-top: 20px;
}

.resume-content p {
    line-height: 1.6;
    margin: 10px 0;
    font-size: 12px;
}

.resume-content ul {
    list-style-type: disc;
    margin-left: -20px;
    margin-bottom: 0;
    font-size: 12px;
}

.resume-content ul li {
    margin: 5px 0;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 0;
}

.resume-content ul ul {
    list-style-type: circle; /* Empty disc bullet points for nested list */
    margin-left: -20px; /* Additional indentation for nested list */
}

.resume-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.resume-content h2 {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 30px;
}

.resume-content h3 {
    font-size: 14px;
    margin-bottom: 0;
}

.resume-time-period {
    font-size: 9px;
    margin-bottom: 0;
    margin-top: 0;
    color: #000000;
    font-style: italic;
}

.resume-page-container {
    display:flex;
    align-items: flex-start;
}

.resume-sidedock-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 20%;
    margin-top: 10px;
}

.resume-sidedock {
    background-color: #1E1E1E;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 12px;
    margin: 10px 10px;
    border-radius: 15px;
    display: flex;              /* Use flexbox layout */
    flex-direction: column;     /* Arrange items in a column */
    align-items: center;        /* Center items horizontally */
    text-align: center;         /* Center the text */
}

.resume-sidedock img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 10px
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    font-size: 12px;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
}

.footer-left nav a, .footer-right a {
    text-decoration: none;
    color: #555;
    padding: 5px 0;
}

.footer-left nav a:hover, .footer-right a:hover {
    color: #000;
}

.section-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap as needed */
    align-items: flex-start;
    page-break-inside: avoid;
}

.entry-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0; /* Adjust the gap as needed */
}

.entry {
    margin: 10px 0;
    color: #333; /* Dark text for contrast */
}

.entry p {
    margin-bottom: 0;
}

.job h3, 
.job p, 
.job ul {
    margin-bottom: 0;
}

.job ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Media query to stack elements on smaller screens */
@media (max-width: 768px) {
    .work-experience {
        flex-direction: column;
    }
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;  /* 30px * 1.5 = 45px */
    height: 25.5px; /* 17px * 1.5 = 25.5px */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 25.5px; /* 17px * 1.5 = 25.5px */
}

.slider:before {
    position: absolute;
    content: "";
    height: 19.5px;  /* 13px * 1.5 = 19.5px */
    width: 19.5px;   /* 13px * 1.5 = 19.5px */
    left: 3px;       /* Adjusted to fit new size */
    bottom: 3px;     /* Adjusted to fit new size */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(19.5px); /* Adjusted to fit new size */
}

.download-button {
    background-color: #e3663d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/* social links */

.socials-links {
    display: flex;
    flex-direction: column;
}

.socials-links a {
    text-decoration: none;
    color: #ffffff;
    padding: 3px 0;
    display: flex;
    align-items: center;
}

.socials-links a::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-size: cover;
}

.socials-links a[href*="github"]::before {
    background-image: url('./Images/github-color.png'); /* Replace with actual GitHub icon path */
}

.socials-links a[href*="instagram"]::before {
    background-image: url('./Images/instagram-color.png'); /* Replace with actual Instagram icon path */
}

.socials-links a[href*="linkedin"]::before {
    background-image: url('./Images/linkedin-color.png'); /* Replace with actual LinkedIn icon path */
}