/* Apply box-sizing to all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Poppins', Arial, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282828;
}

.navbar {
    background: #1E1E1E;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #F0F0F0; /* Light grey shade */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #2C2D2E;
    color: #FFFFFF;
}

.banner {
    background: #E6863E;
    padding: 50px;
    color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    flex-wrap: wrap;
}
.banner img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 95%;
    min-width: 200px;    /* Ensure a minimum width on small screens */
}

.banner h1 {
    font-size: 36px;
    margin: 20px 0;
}
.banner p {
    font-size: 18px;
    line-height: 1.6;
}
.banner a {
    color: #ffeb3b;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 100%;    /* Default width */
    /* max-width: 1200px; Optional max width to prevent it from becoming too wide */
    margin: 0 auto;
    padding: 0 10px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 36px;
    color: #FFFFFF; /* Pure white */
}

.text-content p {
    color: #F0F0F0; /* Light grey shade */
    line-height: 1.6;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
    .container {
        width: 95%; /* Slightly wider on small screens */
    }
}

@media (min-width: 900px) {
    .container {
        width: 75%; /* Wider on medium screens */
    }
}

@media (min-width: 1200px) {
    .container {
        width: 65%; /* Widest on large screens */
    }
}

.illustration {
    position: relative;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.illustration img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.feature {
    text-align: center;
    max-width: 30%;
}

.feature img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.5));
}

.feature h3 {
    font-size: 18px;
    color: #E0E0E0; /* Darker grey shade */
    margin-top: 10px;
}

.feature p {
    color: #E0E0E0; /* Darker grey shade */
    line-height: 1.6;
}